 .grid-container {
    font-family: 'Quicksand', sans-serif; 
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 5px;
    padding: 10px;
  }
  
  .grid-container > div {
    text-align: center;
    font-size: 20px;
  }

  .press{
    background-color: tan;
  }
  
  .root{
    background-color: darksalmon;
  }
  
  .fret{
    background-color: antiquewhite;
  }