<div class="container-fluid">
  <div class="grid-3">

    <div>      
      <!-- <input type="text" placeholder="Key" #key style="text-transform:lowercase;" required> -->
      <select name="key" id="key" #key class="btn">
        <option value="">Key</option>
        <option value="a" #key>a</option>
        <option value="a#" #key>a#</option>
        <option value="b" #key>b</option>
        <option value="c" #key>c</option>
        <option value="c#" #key>c#</option>
        <option value="d" #key>d</option>
        <option value="d#" #key>d#</option>
        <option value="e" #key>e</option>
        <option value="f" #key>f</option>
        <option value="f#" #key>f#</option>
        <option value="g" #key>g</option>
        <option value="g#" #key>g#</option>
      </select>
    </div>
    
    <div>      
      <!-- <input type="text" placeholder="scale" #scale style="text-transform:lowercase;" required> -->
      <select name="scale" id="scale" #scale class="btn" >
        <option value="" #scale>Scale</option>
        <option value="major" #scale>Major</option>
        <option value="minor" #scale>Minor</option>
      </select>
    </div>

    <div>
      <button (click)="print_scale(key, scale)" class="btn" style="border: 1px solid black">Submit</button>
    </div>

  </div>



  <div class="grid-3">
    <h4>Scale</h4>
    <div class="row">
      <div *ngFor="let text of scale_text" class="col">
        <p>{{ text }}</p>
      </div>
    </div>
  </div>

  <div class="grid-3">
    <h4>Chords</h4>
    <div class="row">
      <div *ngFor="let chord_intervel of chord" class="col">
        {{ chord_intervel }}
      </div>
    </div>
  </div>

  <div class="grid-3" >
    <h4>Chord Progressions</h4>
    <select class="btn" >
      <option value="">Select</option>
      <option value="">Most Popular : 1-5-6-4 </option>
      <option value="">Sad But Uplifting : 6-5-4-5 ( vi)</option>
      <option value="">The Storyteller : 1-4-6-5</option>
      <option value="">The Bass Player : I-ii7-I6-IV</option>
      <option value="">Jazz It Up : 1-6-2-5</option>
      <option value="">The Journey : IV-I6-5</option>
      <option value="">Secondary Dominants : IV-V-V6/vi-vi</option>
      <option value="">Epic Progression : I-bVI-V</option>
      <option value="">The Minor Change : IV-iv-I</option>
      <option value="">Trap Chords : i-VI-i-v</option>
    </select>

    <h4>Guitar Fretboard</h4>
  </div>


    
  
  </div>


<div class="container-fluid" style="overflow: scroll;">
  <app-string [string_name]="this.keys[7]" [scale]="this.scale_text"></app-string>
  <app-string [string_name]="this.keys[2]" [scale]="this.scale_text"></app-string>
  <app-string [string_name]="this.keys[10]" [scale]="this.scale_text"></app-string>
  <app-string [string_name]="this.keys[5]" [scale]="this.scale_text"></app-string>
  <app-string [string_name]="this.keys[0]" [scale]="this.scale_text"></app-string>
  <app-string [string_name]="this.keys[7]" [scale]="this.scale_text"></app-string>
  <app-fret-note></app-fret-note>
</div>