<div class="container-fluid">
  <div class="grid-3">

    <div>
      <p>Available Scales: Major, Minor</p>
    </div>
    
    <div>      
      <input type="text" placeholder="Key" #key style="text-transform:lowercase;" required>
    </div>
    
    <div>      
      <input type="text" placeholder="scale" #scale style="text-transform:lowercase;" required>
    </div>

    <div>
      <button (click)="print_scale(key, scale)" class="btn" style="border: 1px solid black">Submit</button>
    </div>

  </div>



  <div class="grid-3">
    <div class="row">
      <div *ngFor="let text of scale_text" class="col">
        <p>{{ text }}</p>
      </div>
    </div>
  </div>

  <div class="grid-3">
    <h4>Chord interval</h4>
    <div class="row">
      <div *ngFor="let chord_intervel of chord" class="col">
        {{ chord_intervel }}
      </div>
    </div>
    <h4>Guitar Fretboard</h4>
  </div>

    
  
  </div>


<div class="container-fluid" style="overflow: scroll;">
  <app-string [string_name]="this.keys[7]" [scale]="this.scale_text"></app-string>
  <app-string [string_name]="this.keys[2]" [scale]="this.scale_text"></app-string>
  <app-string [string_name]="this.keys[10]" [scale]="this.scale_text"></app-string>
  <app-string [string_name]="this.keys[5]" [scale]="this.scale_text"></app-string>
  <app-string [string_name]="this.keys[0]" [scale]="this.scale_text"></app-string>
  <app-string [string_name]="this.keys[7]" [scale]="this.scale_text"></app-string>
  <app-fret-note></app-fret-note>
</div>