<div class="grid-container">
<div class="">FRET</div>
        <div class="item1 fret">1</div>
        <div class="item2 fret">2</div>
        <div class="item3 fret">3</div>  
        <div class="item4 fret">4</div>
        <div class="item5 fret">5</div>
        <div class="item6 fret">6</div>
        <div class="item7 fret">7</div>
        <div class="item8 fret">8</div>
        <div class="item1 fret">9</div>
        <div class="item2 fret">10</div>
        <div class="item3 fret">11</div>  
        <div class="item4 fret">12</div>
        <div class="item5 fret">13</div>
        <div class="item6 fret">14</div>
        <div class="item7 fret">15</div>
        <div class="item8 fret">16</div>
        <div class="item1 fret">17</div>
        <div class="item2 fret">18</div>
        <div class="item3 fret">19</div>  
        <div class="item4 fret">20</div>
</div>